page-home {
    .center {
        margin: auto;
        width: 70%;
        border: none;
        padding: 0px;
        }

        .logo_correios{
            width: 60%;
            height: 87px;
        }

        .bg-style {
            background: rgba(255, 255, 255, 0.644);
        }
        
        .blue_full_btn{
            background:rgb(33, 95, 140);
            color: #ffffff;
        }

        .blue_btn{
            border-color:rgb(33, 95, 140);
            color: rgb(33, 95, 140);
        }

        ion-content {
            --overflow: hidden;
        }

}
