page-home {
    .center {
        margin: auto;
        width: 60%;
        border: none;
        padding: 10px;
        }

        .logo_correios{
            width: 60%;
            height: 87px;
        }

        .bg-style {
            background: rgb(255, 255, 255);
        }
        
        .yellow_full_btn{
            background:rgba(202, 166, 3, 0.973);
            color: black;
        }

        .yellow_btn{
            border-color:rgba(202, 166, 3, 0.973);
            color: rgba(202, 166, 3, 0.973);
        }


}
