page-encomenda-details {

    .center {
        margin: auto;
        width: 70%;
        border: none;
        padding: 0px;
        }
        
    .red_full_btn{
        background:rgb(78, 29, 29);
        color: rgb(255, 255, 255);
    }

    .img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
    }
}
